#  Relatório de Análise VI

## Criando novas variáveis

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel_residencial.csv' , sep =';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [11]:
dados.fillna(0, inplace = True)

In [12]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [13]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0

In [18]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.142857
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.333333
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.384615
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.333333
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.428571

In [21]:
dados['Valor m2'] = dados['Valor'].round(2)
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,1700.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,800.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,800.0
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,1200.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,1300.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,22000.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,1000.0
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,1200.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,1500.0

In [22]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,1700.0,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,800.0,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,800.0,21.46
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,1200.0,17.14
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,1300.0,32.36
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,22000.0,29.33
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,1000.0,15.38
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,1200.0,33.33
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,1500.0,31.66

In [23]:
tipos = dados['Tipo'].drop_duplicates()
tipos

0              Quitinete
1                   Casa
2            Apartamento
6     Casa de Condomínio
85          Casa de Vila
Name: Tipo, dtype: object

In [24]:
casa = ['Casa','Casa de Condomínio','Casa de Vila']

In [25]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,1700.0,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,7000.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,800.0,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,800.0,21.46,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,1200.0,17.14,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,1300.0,32.36,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,22000.0,29.33,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,1000.0,15.38,Casa
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,1200.0,33.33,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,1500.0,31.66,Apartamento
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,1500.0,21.88,Apartamento
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,2000.0,65.28,Apartamento
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,1800.0,85.22,Apartamento
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,13000.0,65.03,Apartamento
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,2000.0,17.39,Casa
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,950.0,23.67,Apartamento
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,1700.0,36.36,Apartamento
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,1900.0,24.89,Apartamento
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,7500.0,21.88,Casa
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,1000.0,24.56,Apartamento
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,2000.0,34.62,Apartamento
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,7000.0,76.50,Apartamento
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,1547.0,750.0,32.23,Apartamento
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,6200.0,4200.0,35.43,Apartamento
24,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,12000.0,12000.0,30.00,Casa
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0,3240.0,2500.0,42.63,Apartamento
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0,12850.0,10000.0,33.99,Apartamento
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0,7700.0,5500.0,42.78,Apartamento
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0,2948.0,2300.0,28.08,Apartamento
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0,5520.0,3900.0,50.18,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22550,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0,2649.0,2000.0,48.16,Apartamento
22551,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0,5014.0,2500.0,50.14,Apartamento
22552,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0,6613.0,5000.0,45.61,Apartamento
22553,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0,2648.0,2000.0,23.03,Apartamento
22554,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0,2825.0,1700.0,45.56,Apartamento
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0,23000.0,20000.0,23.00,Casa
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,0.0,1192.0,800.0,18.92,Apartamento
22557,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0,1548.0,500.0,25.80,Apartamento
22558,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0,5000.0,31.75,Casa
22559,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0,1824.0,1500.0,33.78,Apartamento
22560,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0,2904.0,2100.0,27.66,Apartamento
22561,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0,3170.0,2200.0,40.64,Apartamento
22562,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0,6289.0,4300.0,125.78,Apartamento
22563,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0,4890.0,4100.0,69.86,Apartamento
22564,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0,2470.0,1950.0,49.40,Apartamento
22565,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0,4008.0,2250.0,47.15,Apartamento
22566,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0,3364.0,2300.0,34.33,Apartamento
22567,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0,8100.0,5500.0,57.86,Apartamento
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0,2340.0,1550.0,26.59,Apartamento
22569,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,1986.0,1500.0,90.27,Apartamento
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,4259.0,3000.0,53.24,Apartamento
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,17000.0,15000.0,113.33,Apartamento
22572,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,1385.0,1000.0,49.46,Apartamento
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,1550.0,1000.0,29.81,Apartamento
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,19043.0,15000.0,42.32,Casa
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,900.0,20.54,Apartamento
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,800.0,43.52,Apartamento
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,1800.0,33.85,Apartamento
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,1400.0,40.54,Apartamento
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,3000.0,53.71,Apartamento

## Excluindo Variáveis

In [26]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado','Valor m2','Valor Bruto','Valor Bruto m2']])

In [27]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0       Apartamento    1700.0       2260.0           56.50
1              Casa    7000.0       7000.0           70.00
2       Apartamento     800.0       1210.0           80.67
3       Apartamento     800.0       1030.0           21.46
4       Apartamento    1200.0       1200.0           17.14
5       Apartamento    1300.0       1618.0           32.36
6              Casa   22000.0      22000.0           29.33
7              Casa    1000.0       1000.0           15.38
8       Apartamento    1200.0       1200.0           33.33
9       Apartamento    1500.0       2216.0           31.66
10      Apartamento    1500.0       1969.0           21.88
11      Apartamento    2000.0       2611.0           65.28
12      Apartamento    1800.0       2301.0           85.22
13      Apartamento   13000.0      15803.0           65.03
14             Casa    2000.0       2000.0           17.39
15      Apartamento     950.0       1278.0           23.67
16      Apartamento    1700.0       2436.0           36.36
17      Apartamento    1900.0       2738.0           24.89
18             Casa    7500.0      10195.0           21.88
19      Apartamento    1000.0       1670.0           24.56
20      Apartamento    2000.0       2700.0           34.62
21      Apartamento    7000.0       9563.0           76.50
22      Apartamento     750.0       1547.0           32.23
23      Apartamento    4200.0       6200.0           35.43
24             Casa   12000.0      12000.0           30.00
25      Apartamento    2500.0       3240.0           42.63
26      Apartamento   10000.0      12850.0           33.99
27      Apartamento    5500.0       7700.0           42.78
28      Apartamento    2300.0       2948.0           28.08
29      Apartamento    3900.0       5520.0           50.18
...             ...       ...          ...             ...
22550   Apartamento    2000.0       2649.0           48.16
22551   Apartamento    2500.0       5014.0           50.14
22552   Apartamento    5000.0       6613.0           45.61
22553   Apartamento    2000.0       2648.0           23.03
22554   Apartamento    1700.0       2825.0           45.56
22555          Casa   20000.0      23000.0           23.00
22556   Apartamento     800.0       1192.0           18.92
22557   Apartamento     500.0       1548.0           25.80
22558          Casa    5000.0       5080.0           31.75
22559   Apartamento    1500.0       1824.0           33.78
22560   Apartamento    2100.0       2904.0           27.66
22561   Apartamento    2200.0       3170.0           40.64
22562   Apartamento    4300.0       6289.0          125.78
22563   Apartamento    4100.0       4890.0           69.86
22564   Apartamento    1950.0       2470.0           49.40
22565   Apartamento    2250.0       4008.0           47.15
22566   Apartamento    2300.0       3364.0           34.33
22567   Apartamento    5500.0       8100.0           57.86
22568   Apartamento    1550.0       2340.0           26.59
22569   Apartamento    1500.0       1986.0           90.27
22570   Apartamento    3000.0       4259.0           53.24
22571   Apartamento   15000.0      17000.0          113.33
22572   Apartamento    1000.0       1385.0           49.46
22573   Apartamento    1000.0       1550.0           29.81
22574          Casa   15000.0      19043.0           42.32
22575   Apartamento     900.0       1438.0           20.54
22576   Apartamento     800.0       1175.0           43.52
22577   Apartamento    1800.0       2640.0           33.85
22578   Apartamento    1400.0       1946.0           40.54
22579   Apartamento    3000.0       3760.0           53.71

[22580 rows x 4 columns]

In [28]:
del dados_aux['Valor Bruto']
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento    1700.0           56.50
1              Casa    7000.0           70.00
2       Apartamento     800.0           80.67
3       Apartamento     800.0           21.46
4       Apartamento    1200.0           17.14
5       Apartamento    1300.0           32.36
6              Casa   22000.0           29.33
7              Casa    1000.0           15.38
8       Apartamento    1200.0           33.33
9       Apartamento    1500.0           31.66
10      Apartamento    1500.0           21.88
11      Apartamento    2000.0           65.28
12      Apartamento    1800.0           85.22
13      Apartamento   13000.0           65.03
14             Casa    2000.0           17.39
15      Apartamento     950.0           23.67
16      Apartamento    1700.0           36.36
17      Apartamento    1900.0           24.89
18             Casa    7500.0           21.88
19      Apartamento    1000.0           24.56
20      Apartamento    2000.0           34.62
21      Apartamento    7000.0           76.50
22      Apartamento     750.0           32.23
23      Apartamento    4200.0           35.43
24             Casa   12000.0           30.00
25      Apartamento    2500.0           42.63
26      Apartamento   10000.0           33.99
27      Apartamento    5500.0           42.78
28      Apartamento    2300.0           28.08
29      Apartamento    3900.0           50.18
...             ...       ...             ...
22550   Apartamento    2000.0           48.16
22551   Apartamento    2500.0           50.14
22552   Apartamento    5000.0           45.61
22553   Apartamento    2000.0           23.03
22554   Apartamento    1700.0           45.56
22555          Casa   20000.0           23.00
22556   Apartamento     800.0           18.92
22557   Apartamento     500.0           25.80
22558          Casa    5000.0           31.75
22559   Apartamento    1500.0           33.78
22560   Apartamento    2100.0           27.66
22561   Apartamento    2200.0           40.64
22562   Apartamento    4300.0          125.78
22563   Apartamento    4100.0           69.86
22564   Apartamento    1950.0           49.40
22565   Apartamento    2250.0           47.15
22566   Apartamento    2300.0           34.33
22567   Apartamento    5500.0           57.86
22568   Apartamento    1550.0           26.59
22569   Apartamento    1500.0           90.27
22570   Apartamento    3000.0           53.24
22571   Apartamento   15000.0          113.33
22572   Apartamento    1000.0           49.46
22573   Apartamento    1000.0           29.81
22574          Casa   15000.0           42.32
22575   Apartamento     900.0           20.54
22576   Apartamento     800.0           43.52
22577   Apartamento    1800.0           33.85
22578   Apartamento    1400.0           40.54
22579   Apartamento    3000.0           53.71

[22580 rows x 3 columns]

In [29]:
dados_aux.pop('Valor Bruto m2')

0         56.50
1         70.00
2         80.67
3         21.46
4         17.14
5         32.36
6         29.33
7         15.38
8         33.33
9         31.66
10        21.88
11        65.28
12        85.22
13        65.03
14        17.39
15        23.67
16        36.36
17        24.89
18        21.88
19        24.56
20        34.62
21        76.50
22        32.23
23        35.43
24        30.00
25        42.63
26        33.99
27        42.78
28        28.08
29        50.18
          ...
22550     48.16
22551     50.14
22552     45.61
22553     23.03
22554     45.56
22555     23.00
22556     18.92
22557     25.80
22558     31.75
22559     33.78
22560     27.66
22561     40.64
22562    125.78
22563     69.86
22564     49.40
22565     47.15
22566     34.33
22567     57.86
22568     26.59
22569     90.27
22570     53.24
22571    113.33
22572     49.46
22573     29.81
22574     42.32
22575     20.54
22576     43.52
22577     33.85
22578     40.54
22579     53.71
Name: Valor Bruto m2, Length: 22580, dtype: float64

In [30]:
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento    1700.0
1              Casa    7000.0
2       Apartamento     800.0
3       Apartamento     800.0
4       Apartamento    1200.0
5       Apartamento    1300.0
6              Casa   22000.0
7              Casa    1000.0
8       Apartamento    1200.0
9       Apartamento    1500.0
10      Apartamento    1500.0
11      Apartamento    2000.0
12      Apartamento    1800.0
13      Apartamento   13000.0
14             Casa    2000.0
15      Apartamento     950.0
16      Apartamento    1700.0
17      Apartamento    1900.0
18             Casa    7500.0
19      Apartamento    1000.0
20      Apartamento    2000.0
21      Apartamento    7000.0
22      Apartamento     750.0
23      Apartamento    4200.0
24             Casa   12000.0
25      Apartamento    2500.0
26      Apartamento   10000.0
27      Apartamento    5500.0
28      Apartamento    2300.0
29      Apartamento    3900.0
...             ...       ...
22550   Apartamento    2000.0
22551   Apartamento    2500.0
22552   Apartamento    5000.0
22553   Apartamento    2000.0
22554   Apartamento    1700.0
22555          Casa   20000.0
22556   Apartamento     800.0
22557   Apartamento     500.0
22558          Casa    5000.0
22559   Apartamento    1500.0
22560   Apartamento    2100.0
22561   Apartamento    2200.0
22562   Apartamento    4300.0
22563   Apartamento    4100.0
22564   Apartamento    1950.0
22565   Apartamento    2250.0
22566   Apartamento    2300.0
22567   Apartamento    5500.0
22568   Apartamento    1550.0
22569   Apartamento    1500.0
22570   Apartamento    3000.0
22571   Apartamento   15000.0
22572   Apartamento    1000.0
22573   Apartamento    1000.0
22574          Casa   15000.0
22575   Apartamento     900.0
22576   Apartamento     800.0
22577   Apartamento    1800.0
22578   Apartamento    1400.0
22579   Apartamento    3000.0

[22580 rows x 2 columns]

In [31]:
dados.drop(['Valor Bruto','Valor Bruto m2'], axis = 1, inplace = True)
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,1700.0,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,800.0,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,800.0,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1300.0,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,Casa
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,1500.0,Apartamento

In [32]:
dados. to_csv('data/aluguel_residencial2.csv' , sep =';')