# Relatório de Análise V

## Tratamento de dados Faltantes

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel.csv' , sep = ';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [5]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
5      False   False    False  False   False  False  False        True   True
6      False   False    False  False   False  False  False       False  False
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False        True   True
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False  False
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False       False   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False        True  False
17     False   False    False  False   False  False  False       False   True
18     False   False    False  False   False  False  False        True   True
19     False   False    False  False   False  False  False       False  False
20     False   False    False  False   False  False  False       False  False
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False   True
23     False   False    False  False   False  False  False       False   True
24     False   False    False  False   False  False  False       False   True
25     False   False    False  False   False  False  False       False  False
26     False   False    False  False   False  False  False       False   True
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False  False
29     False   False    False  False   False  False  False       False   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32930  False   False    False  False   False  False  False       False  False
32931  False   False    False  False   False  False  False        True  False
32932  False   False    False  False   False  False  False       False  False
32933  False   False    False  False   False  False  False       False  False
32934  False   False    False  False   False  False  False       False  False
32935  False   False    False  False   False  False  False       False  False
32936  False   False    False  False   False  False  False       False  False
32937  False   False    False  False   False  False  False       False  False
32938  False   False    False  False   False  False  False       False  False
32939  False   False    False  False   False  False  False       False  False
32940  False   False    False  False   False  False  False       False  False
32941  False   False    False  False   False  False  False       False  False
32942  False   False    False  False   False  False  False       False   True
32943  False   False    False  False   False  False  False       False  False
32944  False   False    False  False   False  False  False       False   True
32945  False   False    False  False   False  False  False       False  False
32946  False   False    False  False   False  False  False       False  False
32947  False   False    False  False   False  False  False       False  False
32948  False   False    False  False   False  False  False       False  False
32949  False   False    False  False   False  False  False       False  False
32950  False   False    False  False   False  False  False       False  False
32951  False   False    False  False   False  False  False       False   True
32952  False   False    False  False   False  False  False       False  False
32953  False   False    False  False   False  False  False       False  False
32954  False   False    False  False   False  False  False        True   True
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True
32959  False   False    False  False   False  False  False       False  False

[32960 rows x 9 columns]

In [6]:
 dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True   True
4      True    True     True   True    True  True   True        True  False
5      True    True     True   True    True  True   True       False  False
6      True    True     True   True    True  True   True        True   True
7      True    True     True   True    True  True   True       False  False
8      True    True     True   True    True  True   True       False  False
9      True    True     True   True    True  True   True        True   True
10     True    True     True   True    True  True   True       False  False
11     True    True     True   True    True  True   True        True   True
12     True    True     True   True    True  True   True        True   True
13     True    True     True   True    True  True   True        True   True
14     True    True     True   True    True  True   True        True  False
15     True    True     True   True    True  True   True        True   True
16     True    True     True   True    True  True   True       False   True
17     True    True     True   True    True  True   True        True  False
18     True    True     True   True    True  True   True       False  False
19     True    True     True   True    True  True   True        True   True
20     True    True     True   True    True  True   True        True   True
21     True    True     True   True    True  True   True        True   True
22     True    True     True   True    True  True   True        True  False
23     True    True     True   True    True  True   True        True  False
24     True    True     True   True    True  True   True        True  False
25     True    True     True   True    True  True   True        True   True
26     True    True     True   True    True  True   True        True  False
27     True    True     True   True    True  True   True        True   True
28     True    True     True   True    True  True   True        True   True
29     True    True     True   True    True  True   True        True  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
32930  True    True     True   True    True  True   True        True   True
32931  True    True     True   True    True  True   True       False   True
32932  True    True     True   True    True  True   True        True   True
32933  True    True     True   True    True  True   True        True   True
32934  True    True     True   True    True  True   True        True   True
32935  True    True     True   True    True  True   True        True   True
32936  True    True     True   True    True  True   True        True   True
32937  True    True     True   True    True  True   True        True   True
32938  True    True     True   True    True  True   True        True   True
32939  True    True     True   True    True  True   True        True   True
32940  True    True     True   True    True  True   True        True   True
32941  True    True     True   True    True  True   True        True   True
32942  True    True     True   True    True  True   True        True  False
32943  True    True     True   True    True  True   True        True   True
32944  True    True     True   True    True  True   True        True  False
32945  True    True     True   True    True  True   True        True   True
32946  True    True     True   True    True  True   True        True   True
32947  True    True     True   True    True  True   True        True   True
32948  True    True     True   True    True  True   True        True   True
32949  True    True     True   True    True  True   True        True   True
32950  True    True     True   True    True  True   True        True   True
32951  True    True     True   True    True  True   True        True  False
32952  True    True     True   True    True  True   True        True   True
32953  True    True     True   True    True  True   True        True   True
32954  True    True     True   True    True  True   True       False  False
32955  True    True     True   True    True  True   True        True   True
32956  True    True     True   True    True  True   True        True   True
32957  True    True     True   True    True  True   True        True   True
32958  True    True     True   True    True  True   True        True  False
32959  True    True     True   True    True  True   True        True   True

[32960 rows x 9 columns]

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [8]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,NaN,NaN
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
13229,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
13525,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.0,NaN
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.0,74.0
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.0,NaN
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.0,NaN
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.0,NaN

In [9]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A-B

17

In [16]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [17]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [18]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [19]:
dados[dados['Condominio'].isnull()].shape[0]

3344

In [21]:
dados = dados.fillna({'Condominio':0, 'IPTU':0})

In [23]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [24]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32198 non-null object
Bairro        32198 non-null object
Quartos       32198 non-null int64
Vagas         32198 non-null int64
Suites        32198 non-null int64
Area          32198 non-null int64
Valor         32198 non-null float64
Condominio    32198 non-null float64
IPTU          32198 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

In [26]:
dados.to_csv('data/aluguel2.csv' , sep = ';')